
// google font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');


*,
*::before,
*::after { box-sizing: border-box; }
html {
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	@media screen and (max-width: 991.98px) {
		html {
		  scroll-behavior: unset !important;
		}
	  }
}
html, body {
	margin: 0;
	height: 100%;
}
body {
	font-family: $body;
}
section, .container, .container-fluid {position: relative;}
.container, .container-fluid {z-index: 10;}
img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
	height: auto;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
input, button, textarea, select { font: inherit; }
p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
	margin: 0;
	padding: 0;
}
ul[class], ol[class] {padding: 0;}
ul[class] {list-style: none;}

.lenis {
  &.lenis-smooth {
    scroll-behavior: auto;

    [data-lenis-prevent] {
      overscroll-behavior: contain;
    }
  }

  &.lenis-stopped {
    overflow: hidden;
  }

  &.lenis-scrolling iframe {
    pointer-events: none;
  }
}
/* # Typography
--------------------------------------------------------------*/
h1 {
	font-family: $body;
	line-height: normal;
	margin-bottom: 20px;
}
h2,h3,h4,h5,h6 {
	font-family: $body;
	line-height: normal;
	margin-bottom: 20px;
}
p[class], ul[class] li, ol[class] li { font-size: 1rem; }
p {
	line-height: 1.6rem;
	margin-bottom: 20px;
}

a {
	text-decoration: none;
}

// buttons style
.btn, .btn-primary, .btn-secondary, .btn-prmry-yellow, .btn-scnd-yellow, .btn-light, .btn-border {
    font-family: var(--headlines);
    font-size: 16px;
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 1px;
    display: inline-block;
    text-align: center;
    transition: all ease-in-out 0.3s;
    position: relative;
    padding: 10px 24px;
    text-decoration: none;
}
.btn:hover, .btn:active, .btn:focus { 
    text-decoration: none; 
}

.btn-primary {
	background: linear-gradient(343deg, rgb(255, 239, 0) 0%, rgb(251, 190, 15) 100%);
    color: #ffffff;
    padding-right: 38px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all ease-in-out 0.3s;
	border-radius: 0;
	border: none;
}
.btn-primary::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 9px solid #fff;
    border-bottom: 7px solid transparent;
    position: absolute;
    top: 14px;
    right: 24px;
    transition: all ease-in-out 0.3s;
}
.btn-primary:hover {
    padding: 10px 24px;
}
.btn-primary:hover.btn-primary::before {
    top: 5px;
    right: -25px;
    border-top: 16px solid transparent;
    border-left: 19px solid #FFE902;
    border-bottom: 16px solid transparent;
}
@media (max-width: 768px) {
    .btn-primary:hover {
        padding-right: 38px;
        box-shadow: none;
    }
    .btn-primary:hover.btn-primary::before {
        border-top: 7px solid transparent;
        border-left: 9px solid #ffffff;
        border-bottom: 7px solid transparent;
        position: absolute;
        top: 14px;
        right: 24px;
    }
}


/* ============btn no bg============== */
.btn-no-bg {
    color: #000;
    padding-right: 38px;
    position: relative;
    font-weight: 400;
    transition: all ease-in-out 0.3s;
}
.btn-no-bg::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 9px solid #000;
    border-bottom: 7px solid transparent;
    position: absolute;
    top: 14px;
    right: 24px;
    transition: all ease-in-out 0.3s;
}
.btn-no-bg:hover {
   color: #FCBF10 !important;
}
.btn-no-bg:hover.btn-no-bg::before {
    top: 14px;
    right: 18px;
    border-top: 7px solid transparent;
    border-left: 9px solid $primary-color;
    border-bottom: 7px solid transparent;
}


.btn-outline {
	padding: 16px 55px 16px 40px;
	background-color: transparent;
	border: 1px solid $btn-primary;
	position: relative;
	transition: all .3s ease;
	color: #fff;
	border-radius: 0;
	&::after {
		content: '';
		width: 21px;
		height: 15px;
		background-image: url(../img/arrow-right-yello.svg);
		background-repeat: no-repeat;
		position: absolute;
		right: 21px;
		top: 19px;
		transition: all .3s ease;
	}
	&:hover {
		background-color: $btn-primary;
		letter-spacing: 2px;
		color: #FFF;
		&::after {
			filter: brightness(0) invert(1);
		}
	}
}
.btn-outline-no {
	padding: 16px 40px;
	border-radius: 50px;
	background-color: transparent;
	border: 1px solid $white;
	position: relative;
	transition: all .3s ease;
	&:hover {
		background-color: $btn-primary;
		letter-spacing: 2px;
		color: #FFF;
	}
}



a.viewBtn {
	color: #fff;
	position: relative;
	padding-right: 28px;
	text-decoration: none;
	transition: all ease-in-out 0.4s;
	&::after {
	  content: "";
	  width: 18px;
	  height: 13.56px;
	  background-image: url("../img/arrow-right-black.svg");
	  background-repeat: no-repeat;
	  position: absolute;
	  top: 50%;
	  right: 0;
	  transform: translateY(-50%);
	  transition: all ease-in-out 0.4s;
	}
	&:hover {
	  color: #fff;
	  &::after {
		right: -4px;
		background-image: url("../img/assets/images/arrow-right.svg");
	  }
	}
  }